# rpc配置, 可以从 https://atomscan.com/directory/celestia 找到自己喜欢的节点服务器
NODE_URL=https://public-celestia-rpc.numia.xyz
# NODE_URL=https://celestia-rpc.mesa.newmetric.xyz

# 主钱包（资金钱包）私钥, 用于转账给其它真正用来 Mint 的钱包
PRIVATE_KEY=

# 生成钱包配置,按需配置
# 生成多少个 Mint 钱包
NUM_OF_WALLETS=5
# 真正 Mint 的钱包文件，所有生成的钱包都在这个文件里
WALLET_JSON_FILE=wallets.json

# celestia配置（可以不用动）
CHAIN_SYMBOL=celestia
TOKEN_DENOM=utia
TOKEN_DECIMAL=1000000

# 从主钱包（资金钱包）转多少个 TIA 到 每个真正 Mint 的钱包
TOKEN_TRANSFER_AMOUNT=2

# gas 配置, 按需修改
GAS_PRICE=10000
GAS_LIMIT=100000

# mint配置, 一定要根据官方参数配置
MINT_AMOUNT=10000
# 铭文代币名称
TICK=cias
# 协议类型
PROTOCOL=cia-20

# 每个钱包 mint 次数
MINT_TIMES=10
